.Card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px auto;
    max-width: 1184px;
    align-items: center;
}

.pet-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.name-section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: end;
    color: #556B2F;
}

.card-name {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 10px;
}

.card-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.description-section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    margin: 94px 50px 0 0;
}

.card-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 8px;
    text-align: start;
} 

.contact-button {
    margin: 20px 0 0;
    width: 250px;
    padding: 12px;
    align-self: center;
    font-size: 25px;
    border-radius: 5px;
    background-color: #556B2F;
    color: #eceaea;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .pet-section {
        gap: 50px;
    }

    .card-name {
        font-size: 36px;
    }

    .description-section {
        margin: 70px 50px 0 0;
    }

    .card-text {
        font-size: 16px;
    }

    .contact-button {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .Card {
        margin: 30px auto;
    }

    .pet-section {
        gap: 40px;
    }

    .card-name {
        font-size: 30px;
    }

    .card-image {
        width: 250px;
        height: 250px;
    }

    .card-text {
        font-size: 14px;
    }

    .contact-button {
        font-size: 16px;
        width: 200px;
    }
}

@media (max-width: 590px) {
    .card-name {
        font-size: 24px;
    }

    .card-image {
        width: 200px;
        height: 200px;
    }

    .description-section {
        margin: 50px 50px 0 0;
    }

    .card-text {
        font-size: 12px;
    }

    .contact-button {
        font-size: 14px;
        width: 160px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .pet-section {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .name-section {
        align-items: center;
    }

    .description-section {
        align-items: center;
        margin: 0 50px;
    }

    .card-text {
        text-align: center;
    }
}