.homePage {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1184px;
    margin: 35px auto 0;
}

.introduction {
    background-image: url("../images/Homepage/ersatz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 700px;
    border-radius: 5px;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    padding: 450px 50px 0 30px;
}

.title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    color: #A52A2A;
}

.title-span {
    text-transform: uppercase;
}

.buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 40px 0 0;
    justify-content: center;
}

.link {
    margin-right: 25px;
}

.link:last-child {
    margin-right: 0;
}

.homePage-button {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  background-color: #556B2F;
  color: #eceaea;
  margin: 0;
  padding: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.about-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px 30px;
}

.about-section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border: solid 1px #DCDCDC;
    border-radius: 10px;
    margin: 0;
    padding: 20px 0;
}

.aboutImage {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.subtitle {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #A52A2A;
    margin: 15px 0 0;
}

.aboutText {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #556B2F;
    padding: 0 40px;
    margin: 20px 0 0;
}

@media (max-width: 900px) {
    .aboutImage {
        width: 200px;
        height: 200px;
    }

    .subtitle {
        font-size: 22px;
    }

    .aboutText {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .homePage {
        margin: 20px auto 0;
    }

    .introduction {
        background-position: bottom;
        height: 500px;
    }

    .introduction-section {
        width: 300px;
        padding: 250px 50px 0 30px;
    }

    .title {
        font-size: 38px;
    }

    .buttons {
        margin: 25px 0 0;
    }

    .homePage-button {
        width: 120px;
        padding: 12px;
    }

    .about-us {
        gap: 20px;
    }

    .aboutImage {
        width: 150px;
        height: 150px;
    }

    .subtitle {
        font-size: 18px;
    }

    .aboutText {
        font-size: 15px;
        padding: 0 30px;
    }
}

@media (max-width: 590px) {
    .homePage {
        margin: 12px auto 0;
    }

    .introduction {
        height: 400px;
    }

    .introduction-section {
        width: 250px;
        padding: 250px 20px 0 20px;
    }

    .title {
        font-size: 34px;
    }

    .link {
        margin-right: 20px;
    }

    .homePage-button {
        width: 100px;
        font-size: 12px;
        padding: 10px;
    }

    .about-us {
        gap: 15px;
        margin: 40px 10px;
    }

    .about-section {
        padding: 10px 0;
    }

    .aboutImage {
        width: 100px;
        height: 100px;
    }

    .subtitle {
        font-size: 14px;
    }

    .aboutText {
        font-size: 12px;
        padding: 0 10px;
        margin: 12px 0 0;
    }
}

@media (max-width: 480px) {
    .homePage {
        margin: 10px auto 0;
    }

    .introduction {
        height: 250px;
    }

    .introduction-section {
        width: 160px;
        padding: 120px 20px 0 20px;
    }

    .title {
        font-size: 26px;
    }

    .buttons {
        margin: 20px 0 0;
    }

    .link {
        margin-right: 12px;
    }

    .homePage-button {
        width: 74px;
        font-size: 10px;
        padding: 6px;
    }

    .about-us {
        gap: 10px;
        margin: 25px 8px;
    }

    .aboutImage {
        width: 70px;
        height: 70px;
    }

    .subtitle {
        font-size: 11px;
    }

    .aboutText {
        font-size: 9px;
        padding: 0 6px;
        margin: 10px 0 0;
    }
}