.List {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1184px;
    margin: 0 auto;
    min-height: 900px;
}

.sitters-title {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.5;
    margin: 50px 0 0;
    color: #556B2F;
}

.petList-sort {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin: 40px 0 0;
}

.button-all {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #556B2F;
    margin: 0 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: #556B2F solid 1px;
    cursor: pointer;
    width: 150px;
}

.button-filter {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: #556B2F solid 1px;
    cursor: pointer;
}

.filter-image {
    width: 22px;
    object-fit: cover;
}

.filter-text {
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #556B2F;
}

.card-link {
    text-decoration: none;
    color: black;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px 50px;
}

.list-card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border: solid 1px #DCDCDC;
    border-radius: 10px;
    margin: 0;
    padding: 20px 0;
}

.listImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.listName {
    margin: 8px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.petDates {
    margin: 8px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.like-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px 0 0;
}

.like-button {
    align-self: center;
    background-color: #fff;
    background-image: url("../images/heart.png");
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 1px;
    box-sizing: border-box;
    cursor: pointer;
    height: 25px;
    padding: 0;
    width: 25px;
    background-size: cover;
}