.PetList {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1184px;
    margin: 0 auto;
}

.petList-sort {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin: 40px 0 0;
}

.button-all {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #556B2F;
    margin: 0 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: #556B2F solid 1px;
    cursor: pointer;
    width: 150px;
}

.button-filter {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: #556B2F solid 1px;
    cursor: pointer;
}

.filter-image {
    width: 22px;
    object-fit: cover;
}

.filter-text {
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #556B2F;
}

.card-link {
    text-decoration: none;
    color: black;
}

.pets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px 50px 0;
}

.pet {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border: solid 1px #DCDCDC;
    border-radius: 10px;
    margin: 0;
    padding: 20px 0;
}

.petImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.petName {
    margin: 8px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.petDates {
    margin: 8px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}