.ProfilePage {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1184px;
    margin: 0 auto;
    min-height: 900px;
}

.edit-profile {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin: 40px 0 0;
}

.profile-title {
    margin: 0 15px 0 0;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.5;
}

.edit-button {
    align-self: center;
    background-color: #fff;
    background-image: url("../images/edit-button.png");
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 1px;
    box-sizing: border-box;
    cursor: pointer;
    height: 25px;
    padding: 0;
    width: 25px;
    background-size: cover;
}

.user-info {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin: 50px 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 100px 0 0;
}

.info-text {
    margin: 0 0 10px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    text-align: start;
}

.profile-picture {
    background-image: url("../images/PetList/picture-placeholder.png");
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    background-size: cover;
    height: 400px;
}

.text-bold {
    font-size: 28px;
    margin-right: 10px;
}

.usernameEdit {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 0 10px;
    padding: 0;
    border: none;
}

.usernameEdit-input {
    height: 30px;
    margin: 0 10px 0 0;
    padding: 0;
}

.save-button {
    align-self: center;
    background-color: #fff;
    background-image: url("../images/save.png");
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 1px;
    box-sizing: border-box;
    cursor: pointer;
    height: 25px;
    padding: 0;
    width: 25px;
    background-size: cover;
}

@media (max-width: 900px) {
    .profile-title {
        font-size: 36px;
    }

    .user-info {
        margin: 40px 0 0;
    }

    .info {
        margin: 0 50px 0 0;
    }

    .text-bold {
        font-size: 22px;
    }

    .info-text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .profile-title {
        font-size: 30px;
    }

    .user-info {
        margin: 35px 0 0;
    }

    .info {
        margin: 0 40px 0 0;
    }

    .text-bold {
        font-size: 18px;
    }

    .info-text {
        font-size: 16px;
    }

    .profile-picture {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 590px) {
    .ProfilePage {
        align-items: center;
    }

    .profile-title {
        font-size: 24px;
    }

    .edit-button {
        height: 20px;
        width: 20px;
    }

    .user-info {
        margin: 20px 0 0;
        flex-direction: column;
    }

    .info {
        margin: 0 0 25px 0;
    }
}