@font-face {
  font-family: 'Rubik';
  src: url('./font/Rubik-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url(./styles/HomePage.css);
@import url(./styles/Navbar.css);
@import url(./styles/Auth.css);
@import url(./styles/ListPages.css);
@import url(./styles/Card.css);
@import url(./styles/Review.css);
@import url(./styles/Footer.css);
@import url(./styles/Email.css);
@import url(./styles/ProfilePage.css);
